<% if (typeof numYears === 'number') { -%>
<p class="small">This subscription is a <%= numYears %>-year perpetual
calendar feed with events for the current year (<%= currentYear %>) plus
<%= numYears - 1 %> future year<%= numYears == 2 ? '' : 's'%>.</p>
<% } -%>
