<div class="form-check emoji-checkbox mb-2">
  <input class="form-check-input" type="checkbox" id="e-<%=id%>" checked>
  <label class="form-check-label" for="e-<%=id%>">Show images in event names <%= q.v === 'yahrzeit' ? 'ðŸ•¯ï¸ âœ¡ï¸' : 'âœ¡ï¸ ðŸŒ’'%></label>
</div>
