<!DOCTYPE html>
<html lang="<%=lang%>" data-bs-theme="auto"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- await include('bootstrap-css.ejs') -%>
<script nonce="<%=nonce%>">
if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
  document.documentElement.setAttribute('data-bs-theme', 'dark');
}
</script>
