@font-face {
  font-family: 'Adobe Hebrew';
  src: url('/i/adobehebrew-regular.woff2') format('woff2'), url('/i/adobehebrew-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
