<% if (typeof location === 'object') { -%>
<% if (location.getCountryCode() == 'US' &&
      (locationName.indexOf(' IN ') != -1 || locationName.indexOf(' Indiana') != -1)) { -%>
<div class="alert alert-warning alert-dismissible">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
Indiana has confusing time zone &amp; Daylight Saving Time
rules.<br>Please check <a
href="https://en.wikipedia.org/wiki/Time_in_Indiana">What time is it in
Indiana?</a> to make sure the above settings are correct.
</div><!-- .alert -->
<% } -%>
<% if (location.getCountryCode() == 'US' && location.getTzid() == 'America/Denver' &&
      (locationName.indexOf(' AZ ') != -1 || locationName.indexOf(' Arizona') != -1)) { -%>
<div class="alert alert-warning alert-dismissible">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
These candle lighting times are for an Arizona county that observes
Daylight Saving Time rules. Please see <a
href="https://www.timeanddate.com/time/us/arizona-no-dst.html">No
DST in most of Arizona</a> to learn more.
</div><!-- .alert -->
<% } -%>
<% if (location.getLatitude() >= 60.0 || location.getLatitude() <= -60.0) { -%>
<div class="alert alert-warning alert-dismissible">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
Candle-lighting times are guaranteed to be wrong at extreme
northern or southern latitudes.</span><br>Please consult your
local halachic authority for correct candle-lighting times.
</div><!-- .alert -->
<% } -%>
<% } -%>
