<%
const MENU_ITEMS = [
    ['/holidays/', 'Holidays', 'Jewish Holidays'],
    ['/converter', 'Date Converter', 'Hebrew Date Converter'],
    ['/shabbat', 'Shabbat', 'Shabbat Times'],
    ['/sedrot/', 'Torah', 'Torah Readings'],
    ['/home/about', 'About', 'About'],
    ['/home/help', 'Help', 'Help'],
];

// eslint-disable-next-line require-jsdoc
function menuItem(path, title, tooltip, selected) {
  const active = (path != '/' && path == selected) ? ' active" aria-current="page' : '';
  return `<li class="nav-item"><a class="nav-link${active}" href="${path}" title="${tooltip}">${title}</a>`;
}

// eslint-disable-next-line require-jsdoc
function htmlMenu(selected) {
  let str = '<ul class="navbar-nav me-auto mb-2 mb-lg-0">';
  for (const item of MENU_ITEMS) {
    str += menuItem(item[0], item[1], item[2], selected);
    str += '</li>';
  }
  str += '</ul>';
  return str;
}
const logoImage = '<svg width="77" height="21" xmlns="http://www.w3.org/2000/svg"><use xlink:href="' + spriteHref + '#hebcal-logo"></use></svg>';
const logoIdClassTitle = 'class="navbar-brand" id="logo" title="Hebcal Jewish Calendar"';
if (rpath === '/') {
    logoHtml = '<span ' + logoIdClassTitle + '>' + logoImage + '</span>';
} else {
    logoHtml = '<a href="/" ' + logoIdClassTitle + '>' + logoImage + '</a>';
}
%><nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <%- logoHtml %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%- htmlMenu(rpath) %>
    <form class="d-flex" role="search" method="get" id="searchform" action="/home/">
      <input name="s" id="sitesearch" type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
</nav>
