<div class="modal fade" id="printModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="fs-4">Generating preview</p>
        <p>This may take a few moments...</p>
      </div>
    </div>
  </div>
</div>
<script nonce="<%=nonce%>">
document.addEventListener('DOMContentLoaded', () => {
  function myPrint() {
    const modal = document.getElementById('printModal');
    const myModal = new bootstrap.Modal(modal, {backdrop: 'static', keyboard: false});
    myModal.show();
    const pdfUrl = document.getElementById('print-pdf').getAttribute('href');
    const iframe = document.createElement('iframe');
    iframe.setAttribute('id', 'ipdf');
    iframe.setAttribute('name', 'ipdf');
    const focusHandler = () => {
      window.removeEventListener('focus', focusHandler);
      document.getElementById('ipdf')?.remove();
    };
    iframe.onload = () => {
      myModal.hide();
      try {
        const cw = iframe.contentWindow;
        cw.focus();
        cw.print();
        window.addEventListener('focus', focusHandler);
      } catch (_) {
        document.location.href = pdfUrl;
      }
    };
    iframe.onerror = () => {
      myModal.hide();
      document.location.href = pdfUrl;
    };
    document.body.style.overflow = 'hidden';
    document.body.style.margin = '0';
    document.body.style.padding = '0';
    document.body.appendChild(iframe);
    iframe.src = pdfUrl;
  }
  document.addEventListener('keydown', (e) => {
    if (e.key === 'p' && (e.metaKey || e.ctrlKey)) {
      myPrint();
      e.preventDefault();
      e.stopImmediatePropagation();
    }
  });
});
</script>
