<div class="modal fade" id="printModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="fs-4">Generating preview</p>
        <p>This may take a few moments...</p>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
function myPrint() {
  const modal = document.getElementById('printModal');
  const myModal = new bootstrap.Modal(modal, {backdrop: 'static', keyboard: false});
  myModal.show();
  const printEl = document.getElementById('print-pdf');
  const pdfUrl = printEl.getAttribute('href');
  fetch(pdfUrl, {mode: 'cors', credentials: 'omit'})
    .then(function(response) { return response && response.arrayBuffer(); })
    .then(function(pdf) {
      if (!pdf) { return; }
      const pdfBlob = new Blob([new Uint8Array(pdf, 0)], {type: 'application/pdf'});
      const iframe = document.createElement('iframe');
      // iframe.style.display = 'none';
      iframe.setAttribute('id', 'ipdf');
      iframe.setAttribute('name', 'ipdf');
      iframe.src = URL.createObjectURL(pdfBlob);
      const focusHandler = function() {
        window.removeEventListener('focus', focusHandler);
        const el = document.getElementById('ipdf');
        if (el) {
          el.remove();
        }
      };
      iframe.onload = function() {
        URL.revokeObjectURL(iframe.src);
        window.addEventListener('focus', focusHandler);
      };
      document.body.style.overflow = 'hidden';
      document.body.style.margin = '0';
      document.body.style.padding = '0';
      document.body.appendChild(iframe);
      setTimeout(function() {
        myModal.hide();
        const cw = iframe.contentWindow;
        cw.focus();
        cw.print();
      }, 1200);
    })
    .catch(function(err) {
      myModal.hide();
      document.location.href = pdfUrl;
    });
  }
  // For now, only do magic print stuff on Chrome, Edge 20+ and Firefox
  if (!!window.chrome || !!window.StyleMedia || typeof InstallTrigger !== 'undefined') {
    document.addEventListener('keydown', function(e) {
      if (e.key === 'p' && (e.metaKey || e.ctrlKey)) {
        myPrint();
        e.preventDefault();
        e.stopImmediatePropagation();
      }
    });
  }
});
</script>
