<script>
document.addEventListener('DOMContentLoaded', function() {
var count=<%=count%>;
function getCurrentCount() {
  return count;
}
window.getCurrentCount = getCurrentCount;

function yahrzeitRow(n) {
  return '<div class="row gy-1 gx-2 mb-3 align-items-center mt-1">'+
  '<div class="col-auto">'+n+'.</div>' +
  '<div class="col-auto form-floating">'+
  '<input class="form-control" type="text" name="n'+n+'" id="n'+n+'" placeholder="Name">'+
  '<label class="form-label" for="n'+n+'">Name</label></div>'+
  '<div class="col-auto form-floating"><select name="t'+n+'" id="t'+n+'" class="form-select">'+
  '<option>Yahrzeit</option><option>Birthday</option><option>Anniversary</option><option>Other</option></select>'+
  '<label class="form-label" for="t'+n+'">Type</label></div>'+
  '<div class="col-auto form-floating">'+
  '<input class="form-control" type="text" inputmode="numeric" name="d'+n+'" id="d'+n+'" size="2" maxlength="2" max="31" min="1" pattern="\\d*" placeholder="Day">'+
  '<label class="form-label" for="d'+n+'">Day</label></div>'+
  '<div class="col-auto form-floating"><select name="m'+n+'" id="m'+n+'" class="form-select">'+
  '<option value="1">01-Jan</option><option value="2">02-Feb</option><option value="3">03-Mar</option>'+
  '<option value="4">04-Apr</option><option value="5">05-May</option><option value="6">06-Jun</option>'+
  '<option value="7">07-Jul</option><option value="8">08-Aug</option><option value="9">09-Sep</option>'+
  '<option value="10">10-Oct</option><option value="11">11-Nov</option><option value="12">12-Dec</option>'+
  '</select>'+
  '<label class="form-label" for="m'+n+'">Month</label></div>'+
  '<div class="col-auto form-floating">'+
  '<input class="form-control" type="text" inputmode="numeric" name="y'+n+'" id="y'+n+'" size="4" maxlength="4" pattern="\\d*" placeholder="Year">'+
  '<label class="form-label" for="y'+n+'">Year</label></div>'+
  '<div class="col-auto m-2"><div class="form-check">'+
  '<input class="form-check-input" type="radio" name="s'+n+'" id="s'+n+'-0" checked="" value="off">'+
  '<label class="form-check-label small" for="s'+n+'-0">Before sunset</label></div>'+
  '<div class="form-check">'+
  '<input class="form-check-input" type="radio" name="s'+n+'" id="s'+n+'-1" value="on">'+
  '<label class="form-check-label small" for="s'+n+'-1">After sunset</label></div>'+
  '</div>' +
  '<div class="col-auto ms-2">' +
  '<button type="button" class="btn btn-sm btn-outline-danger del" id="del-'+n+'">'+
  '<svg class="icon"><use xlink:href="<%=spriteHref%>#bi-trash"></use></svg>'+
  ' Delete</button></div>'+
  '</div>';
}

function addNewRow() {
  var n = ++count;
  var newNode = document.createElement("div");
  newNode.className = "yahrzeit-row";
  newNode.id = "row" + n;
  newNode.innerHTML = yahrzeitRow(n);
  var parentDiv = document.getElementById("rows");
  parentDiv.insertBefore(newNode, null);
  var delBtn = document.getElementById("del-"+n);
  clickToDelete(delBtn);
  return n;
}
window.addNewRow = addNewRow;

document.getElementById("newrow").addEventListener('click', function() {
  addNewRow();
  return false;
});

  var checkbox = document.getElementById('yizkor');
  var radio0 = document.getElementById('i0');
  var radio1 = document.getElementById('i1');
  checkbox.addEventListener('change', function() {
    radio0.disabled = !this.checked;
    radio1.disabled = !this.checked;
  });

function clickToDelete(el) {
  var num = el.id.substring(4);
  el.addEventListener('click', function() {
    var node = document.getElementById('row' + num);
    node.innerHTML = '<div class="row mb-3 align-items-center mt-1"><div class="col-auto">'+num+'.</div>'+
      '<div class="col-auto"><span class="text-danger lead">Deleted.</span></div>'+
      '<div class="col-auto"><span class="text-burgundy">Click “Update Calendar” to save changes.</span></div>'+
      '</div>';
  });
}
var delBtns = [].slice.call(document.querySelectorAll('button.del'));
delBtns.forEach(clickToDelete);
});
</script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.0/papaparse.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
function processRow(row) {
  var parts = row[0].trim().split('/');
  var mm = parseInt(parts[0], 10);
  var dd = parseInt(parts[1], 10);
  var yy = parseInt(parts[2], 10);
  if (isNaN(mm) || isNaN(dd) || isNaN(yy)) {
    return false;
  }
  var n = getCurrentCount();
  if (!document.getElementById('y'+n) || !document.getElementById('m'+n) || !document.getElementById('d'+n)) {
    n = addNewRow();
  }
  if (document.getElementById('y'+n).value && document.getElementById('m'+n).value && document.getElementById('d'+n).value) {
    n = addNewRow();
  }
  document.getElementById('d'+n).value = ''+dd;
  document.getElementById('m'+n).value = ''+mm;
  document.getElementById('y'+n).value = ''+yy;
  if (typeof row[1] === 'string') {
    var name = row[1].trim();
    document.getElementById('n'+n).value = name;
  }
  if (typeof row[2] === 'boolean' && row[2]) {
    document.getElementById('s'+n+'-0').checked = false;
    document.getElementById('s'+n+'-1').checked = true;
  }
  if (typeof row[3] === 'string') {
    var typ = row[3].trim().toLowerCase();
    var el = document.getElementById('t'+n);
    switch (typ[0]) {
      case 'y':
      el.value = 'Yahrzeit';
      break;
      case 'b':
      el.value = 'Birthday';
      break;
      case 'a':
      el.value = 'Anniversary';
      break;
      case 'o':
      el.value = 'Other';
      break;
    }
  }
  addNewRow();
  return true;
}
var formFileEl = document.getElementById('formFile');
var formEl = document.getElementById('import-form');
formEl.addEventListener('submit', function(event) {
  event.preventDefault();
  event.stopPropagation();
  var nofileAlertEl = document.getElementById('nofile-alert');
  var badimportAlertEl = document.getElementById('badimport-alert');
  var successAlertEl = document.getElementById('success-alert');
  if (formFileEl.files.length == 0) {
    nofileAlertEl.hidden = false;
    badimportAlertEl.hidden = true;
    successAlertEl.hidden = true;
  } else {
    nofileAlertEl.hidden = true;
    badimportAlertEl.hidden = true;
    successAlertEl.hidden = true;
    var file = formFileEl.files[0];
    Papa.parse(file, {
      dynamicTyping: true,
      complete: function(results) {
        var numOK = 0;
        for (var i = 0; i < results.data.length; i++) {
          var row = results.data[i];
          if (typeof row[0] === 'string') {
            var ok = processRow(row);
            if (ok) {
              numOK++;
            }
          }
        }
        if (numOK) {
          document.getElementById('success-numrecords').innerHTML = numOK;
          document.getElementById('success-filename').innerHTML = file.name;
          successAlertEl.hidden = false;
          var _paq = window._paq = window._paq || [];
          _paq.push(['trackEvent', 'Upload', 'csv-import', file.name, numOK]);
        } else {
          badimportAlertEl.hidden = false;
        }
      }
    });
  }
});
});
</script>
