<!--
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
-->
<script>
<%- await include('/var/www/node_modules/@fullcalendar/core/main.global.js') %>
<%- await include('/var/www/node_modules/@fullcalendar/daygrid/main.global.js') %>
</script>
<script>
window['hebcal']=window['hebcal']||{};
window['hebcal'].fcEvents=<%- JSON.stringify(fcEvents) %>;
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  calendarEl.style.display = 'none';
  var calendar = window['hebcalFullCalendar'] = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    headerToolbar: {
      left: 'title',
      right: 'prev,next',
    },
    events: window['hebcal'].fcEvents,
    initialDate: window['hebcal'].fcEvents[0].start,
    validRange: null,
/*
    eventDidMount: function(info) {
      if (info.event.extendedProps.hebrew) {
        info.el.querySelector('.fc-event-title').innerHTML = info.event.title +
        '<br><span lang="he" dir="rtl">' + info.event.extendedProps.hebrew + '</span>';
      }
      if (info.event.extendedProps.description) {
        tippy(info.el, {
          content: info.event.extendedProps.description.replace(/\n/g, '<br>'),
          allowHTML: true,
        });
      }
    },
*/
  });
  var listViewEl = document.getElementById('list-view');
  listViewEl.style.display = 'block';
  var toggleMonth = document.getElementById('toggle-month');
  toggleMonth.onchange = function() {
    calendarEl.style.display = 'block';
    calendar.render();
    listViewEl.style.display = 'none';
  };
  var toggleList = document.getElementById('toggle-list');
  toggleList.onchange = function() {
    calendarEl.style.display = 'none';
    listViewEl.style.display = 'block';
  };
  document.addEventListener('keydown', function(e) {
    if (e.keyCode == 37) {
        window['hebcalFullCalendar'].prev();
    } else if (e.keyCode == 39) {
        window['hebcalFullCalendar'].next();
    }
  });
});
</script>
