<script>
document.addEventListener('DOMContentLoaded', function() {
var count=<%=count%>;
function yahrzeitRow(n) {
  return '<div class="row gy-1 gx-2 mb-3 align-items-center mt-1">'+
  '<div class="col-auto">'+n+'.</div>' +
  '<div class="col-auto form-floating">'+
  '<input class="form-control" type="text" name="n'+n+'" id="n'+n+'" placeholder="Name (optional)">'+
  '<label class="form-label" for="n'+n+'">Name (optional)</label></div>'+
  '<div class="col-auto form-floating"><select name="t'+n+'" id="t'+n+'" class="form-select">'+
  '<option>Yahrzeit</option><option>Birthday</option><option>Anniversary</option></select>'+
  '<label class="form-label" for="t'+n+'">Type</label></div>'+
  '<div class="col-auto form-floating">'+
  '<input class="form-control" type="text" inputmode="numeric" name="d'+n+'" id="d'+n+'" size="2" maxlength="2" max="31" min="1" pattern="\\d*" placeholder="Day">'+
  '<label class="form-label" for="d'+n+'">Day</label></div>'+
  '<div class="col-auto form-floating"><select name="m'+n+'" id="m'+n+'" class="form-select">'+
  '<option value="1">01 - January</option><option value="2">02 - February</option><option value="3">03 - March</option>'+
  '<option value="4">04 - April</option><option value="5">05 - May</option><option value="6">06 - June</option>'+
  '<option value="7">07 - July</option><option value="8">08 - August</option><option value="9">09 - September</option>'+
  '<option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option>'+
  '</select>'+
  '<label class="form-label" for="m'+n+'">Month</label></div>'+
  '<div class="col-auto form-floating">'+
  '<input class="form-control" type="text" inputmode="numeric" name="y'+n+'" id="y'+n+'" size="4" maxlength="4" pattern="\\d*" placeholder="Year">'+
  '<label class="form-label" for="y'+n+'">Year</label></div>'+
  '<div class="col-auto m-2"><div class="form-check">'+
  '<input class="form-check-input" type="radio" name="s'+n+'" id="s'+n+'-0" checked="" value="off">'+
  '<label class="form-check-label small" for="s'+n+'-0">Before sunset</label></div>'+
  '<div class="form-check">'+
  '<input class="form-check-input" type="radio" name="s'+n+'" id="s'+n+'-1" value="on">'+
  '<label class="form-check-label small" for="s'+n+'-1">After sunset</label></div>'+
  '</div>' +
  '<div class="col-auto ms-2">' +
  '<button type="button" class="btn btn-sm btn-outline-danger del" id="del-'+n+'">'+
  '<svg class="icon"><use xlink:href="<%=spriteHref%>#bi-trash"></use></svg>'+
  ' Delete</button></div>'+
  '</div>';
}
document.getElementById("newrow").onclick = function() {
  var n = ++count;
  var newNode = document.createElement("div");
  newNode.className = "yahrzeit-row";
  newNode.id = "row" + n;
  newNode.innerHTML = yahrzeitRow(n);
  var parentDiv = document.getElementById("rows");
  parentDiv.insertBefore(newNode, null);
  var delBtn = document.getElementById("del-"+n);
  clickToDelete(delBtn);
  return false;
}

  var checkbox = document.getElementById('yizkor');
  var radio0 = document.getElementById('i0');
  var radio1 = document.getElementById('i1');
  checkbox.addEventListener('change', function() {
    radio0.disabled = !this.checked;
    radio1.disabled = !this.checked;
  });

function clickToDelete(el) {
  var num = el.id.substring(4);
  el.addEventListener('click', function() {
    var node = document.getElementById('row' + num);
    node.innerHTML = '<div class="row mb-3 align-items-center mt-1"><div class="col-auto">'+num+'.</div>'+
      '<div class="col-auto"><span class="text-danger lead">Deleted.</span></div>'+
      '<div class="col-auto"><span class="text-burgundy">Click “Update Calendar” to save changes.</span></div>'+
      '</div>';
  });
}
var delBtns = [].slice.call(document.querySelectorAll('button.del'));
delBtns.forEach(clickToDelete);
});
</script>
