<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<strong>Warning!</strong>
Converting between Hebrew and Gregorian dates for very early years is
mathematically possible, but the results should be treated as approximations
rather than historically precise dates.&nbsp;<sup><a
href="https://www.hebcal.com/home/5132/hebrew-and-gregorian-date-conversion-accuracy">[1]</a></sup>
</div><!-- .alert -->
