<% include partials/header.ejs %>

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <%- body %>
        </div>
    </div>
</div><!-- #content -->

<% include partials/footer.ejs %>