<% include partials/header.ejs %>
<link rel="alternate" type="application/rss+xml" title="RSS" href="index.xml">
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
<div id="content">
<div class="row">
<div class="col">
<h2>Torah Readings</h2>
<p>Weekly Torah readings (Parashat ha-Shavua) including
verses for each aliyah and accompanying Haftarah. Includes
both traditional (full kriyah) and <a
href="/home/50/what-is-the-triennial-torah-reading-cycle">triennial</a> reading schemes.</p>
<% if (parsha !== null) { %>
<p>This week's Torah Portion is <a href="/sedrot/<%=parshaHref%>"><%=parsha%></a> (read in <%=il ? 'Israel' : 'the Diaspora'%> on <%=saturday.format('D MMMM YYYY')%>).</p>
<% } %>
<div class="btn-toolbar">
<div class="btn-group mr-1">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  Download for Diaspora <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
  <li><a class="dropdown-item download" id="quick-ical-torah-readings-diaspora" href="webcal://download.hebcal.com/ical/torah-readings-diaspora.ics">iPhone, iPad, Mac OS X</a></li>
  <li><a class="dropdown-item download" id="quick-gcal-torah-readings-diaspora" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2Ftorah-readings-diaspora.ics">Google Calendar</a></li>
  <li><a class="dropdown-item download" id="quick-csv-torah-readings-diaspora" href="http://download.hebcal.com/ical/torah-readings-diaspora.csv" download="torah-readings-diaspora.csv">Microsoft Outlook CSV</a>
  <li class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="index.xml">Parashat ha-Shavua RSS feed</a></li>

 </ul>
</div><!-- .btn-group -->

<div class="btn-group mr-1">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  Download for Israel <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
  <li><a class="dropdown-item download" id="quick-ical-torah-readings-israel" href="webcal://download.hebcal.com/ical/torah-readings-israel.ics">iPhone, iPad, Mac OS X</a></li>
  <li><a class="dropdown-item download" id="quick-gcal-torah-readings-israel" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fdownload.hebcal.com%2Fical%2Ftorah-readings-israel.ics">Google Calendar</a></li>
  <li><a class="dropdown-item download" id="quick-csv-torah-readings-israel" href="http://download.hebcal.com/ical/torah-readings-israel.csv" download="torah-readings-israel.csv">Microsoft Outlook CSV</a>
  <li class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="israel.xml">Parashat ha-Shavua RSS feed (Translit.)</a></li>
  <li><a class="dropdown-item" href="israel-he.xml">Parashat ha-Shavua RSS feed (Hebrew)</a></li>
 </ul>
</div><!-- .btn-group -->

<a class="btn btn-sm btn-secondary" title="Download aliyah-by-aliyah breakdown"
href="#download"><i
class="glyphicons glyphicons-download-alt"></i> Leyning spreadsheet</a>
</div><!-- .btn-toolbar -->
</div><!-- .col-sm-12 -->
</div><!-- .row -->

<div class="row">
<div class="col-4">
<h4 id="Genesis">Genesis</h4>
<ol class="list-unstyled">
<li><a href="bereshit">Bereshit</a>
<li><a href="noach">Noach</a>
<li><a href="lechlecha">Lech-Lecha</a>
<li><a href="vayera">Vayera</a>
<li><a href="chayeisara">Chayei Sara</a>
<li><a href="toldot">Toldot</a>
<li><a href="vayetzei">Vayetzei</a>
<li><a href="vayishlach">Vayishlach</a>
<li><a href="vayeshev">Vayeshev</a>
<li><a href="miketz">Miketz</a>
<li><a href="vayigash">Vayigash</a>
<li><a href="vayechi">Vayechi</a>
</ol>
</div><!-- .col-4 -->
<div class="col-4">
<h4 id="Exodus">Exodus</h4>
<ol class="list-unstyled">
<li><a href="shemot">Shemot</a>
<li><a href="vaera">Vaera</a>
<li><a href="bo">Bo</a>
<li><a href="beshalach">Beshalach</a>
<li><a href="yitro">Yitro</a>
<li><a href="mishpatim">Mishpatim</a>
<li><a href="terumah">Terumah</a>
<li><a href="tetzaveh">Tetzaveh</a>
<li><a href="kitisa">Ki Tisa</a>
<li><a href="vayakhel">Vayakhel</a>
<li><a href="pekudei">Pekudei</a>
</ol>
</div><!-- .col-4 -->
<div class="col-4">
<h4 id="Leviticus">Leviticus</h4>
<ol class="list-unstyled">
<li><a href="vayikra">Vayikra</a>
<li><a href="tzav">Tzav</a>
<li><a href="shmini">Shmini</a>
<li><a href="tazria">Tazria</a>
<li><a href="metzora">Metzora</a>
<li><a href="achreimot">Achrei Mot</a>
<li><a href="kedoshim">Kedoshim</a>
<li><a href="emor">Emor</a>
<li><a href="behar">Behar</a>
<li><a href="bechukotai">Bechukotai</a>
</ol>
</div><!-- .col-4 -->
</div><!-- .row -->
<div class="row">
<div class="col-4">
<h4 id="Numbers">Numbers</h4>
<ol class="list-unstyled">
<li><a href="bamidbar">Bamidbar</a>
<li><a href="nasso">Nasso</a>
<li><a href="behaalotcha">Beha'alotcha</a>
<li><a href="shlach">Sh'lach</a>
<li><a href="korach">Korach</a>
<li><a href="chukat">Chukat</a>
<li><a href="balak">Balak</a>
<li><a href="pinchas">Pinchas</a>
<li><a href="matot">Matot</a>
<li><a href="masei">Masei</a>
</ol>
</div><!-- .col-4 -->
<div class="col-4">
<h4 id="Deuteronomy">Deuteronomy</h4>
<ol class="list-unstyled">
<li><a href="devarim">Devarim</a>
<li><a href="vaetchanan">Vaetchanan</a>
<li><a href="eikev">Eikev</a>
<li><a href="reeh">Re'eh</a>
<li><a href="shoftim">Shoftim</a>
<li><a href="kiteitzei">Ki Teitzei</a>
<li><a href="kitavo">Ki Tavo</a>
<li><a href="nitzavim">Nitzavim</a>
<li><a href="vayeilech">Vayeilech</a>
<li><a href="haazinu">Ha'Azinu</a>
<li><a href="vezothaberakhah">Vezot Haberakhah</a>
</ol>
</div><!-- .col-4 -->
<div class="col-4">
<h4 id="DoubledParshiyot">Doubled Parshiyot</h4>
<ol class="list-unstyled">
<li><a href="vayakhelpekudei">Vayakhel-Pekudei</a>
<li><a href="tazriametzora">Tazria-Metzora</a>
<li><a href="achreimotkedoshim">Achrei Mot-Kedoshim</a>
<li><a href="beharbechukotai">Behar-Bechukotai</a>
<li><a href="chukatbalak">Chukat-Balak</a>
<li><a href="matotmasei">Matot-Masei</a>
<li><a href="nitzavimvayeilech">Nitzavim-Vayeilech</a>
</ol>
</div><!-- .col-4 -->
</div><!-- .row -->
<div class="row">
<div class="col-sm-12">
<h4>Parashat ha-Shavua by Hebrew year</h4>
<nav>
<ul class="pagination pagination-sm">
<li class="page-item disabled"><a class="page-link" href="#">Diaspora</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5779&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5779</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5780&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5780</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5781&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5781</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5782&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5782</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5783&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5783</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5784&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5784</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5785&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5785</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5786&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5786</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5787&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5787</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5788&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5788</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5789&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5789</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5790&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5790</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5791&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5791</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5792&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=off&amp;set=off">5792</a></li>
</ul><!-- .pagination -->
</nav>
<nav>
<ul class="pagination pagination-sm">
<li class="page-item disabled"><a class="page-link" href="#">Israel</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5779&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5779</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5780&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5780</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5781&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5781</a></li>
<li class="page-item"><a class="page-link" href="/hebcal?year=5782&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5782</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5783&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5783</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5784&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5784</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5785&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5785</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5786&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5786</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5787&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5787</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5788&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5788</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5789&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5789</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5790&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5790</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5791&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5791</a></li>
<li class="page-item"><a rel="nofollow" class="page-link" href="/hebcal?year=5792&amp;v=1&amp;month=x&amp;yt=H&amp;s=on&amp;i=on&amp;set=off">5792</a></li>
</ul><!-- .pagination -->
</nav>
<h4 id="download">Download leyning spreadsheet <small class="text-muted">aliyah-by-aliyah breakdown of Torah readings</small></h4>
<p>Leyning coordinators can download these Comma Separated
Value (CSV) files and import into Microsoft Excel or some other
spreadsheet program.</p>
<div class="btn-toolbar">
<div class="btn-group mr-1">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  Full Kriyah (Diaspora) <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
<li><a class="dropdown-item" href="https://drive.google.com/folderview?id=0B3OlPVknpjg7VDc0TWp2cDdvQU0">Google Drive spreadsheets</a><li class="dropdown-divider"></li><li><a class="dropdown-item download" id="leyning-fullkriyah-5779" href="fullkriyah-5779.csv" download="fullkriyah-5779.csv">fullkriyah-5779.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5780" href="fullkriyah-5780.csv" download="fullkriyah-5780.csv">fullkriyah-5780.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5781" href="fullkriyah-5781.csv" download="fullkriyah-5781.csv">fullkriyah-5781.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5782" href="fullkriyah-5782.csv" download="fullkriyah-5782.csv">fullkriyah-5782.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5783" href="fullkriyah-5783.csv" download="fullkriyah-5783.csv">fullkriyah-5783.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5784" href="fullkriyah-5784.csv" download="fullkriyah-5784.csv">fullkriyah-5784.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5785" href="fullkriyah-5785.csv" download="fullkriyah-5785.csv">fullkriyah-5785.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5786" href="fullkriyah-5786.csv" download="fullkriyah-5786.csv">fullkriyah-5786.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5787" href="fullkriyah-5787.csv" download="fullkriyah-5787.csv">fullkriyah-5787.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5788" href="fullkriyah-5788.csv" download="fullkriyah-5788.csv">fullkriyah-5788.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5789" href="fullkriyah-5789.csv" download="fullkriyah-5789.csv">fullkriyah-5789.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5790" href="fullkriyah-5790.csv" download="fullkriyah-5790.csv">fullkriyah-5790.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5791" href="fullkriyah-5791.csv" download="fullkriyah-5791.csv">fullkriyah-5791.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-5792" href="fullkriyah-5792.csv" download="fullkriyah-5792.csv">fullkriyah-5792.csv</a></ul>
</div>

<div class="btn-group mr-1">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  Triennial (Diaspora) <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
<li><a class="dropdown-item" href="https://drive.google.com/folderview?id=0B3OlPVknpjg7SXhHUjdXYzM4Y0E">Google Drive spreadsheets</a><li class="dropdown-divider"></li><li><a class="dropdown-item download" id="leyning-triennial-5777" href="triennial-5777-5780.csv" download="triennial-5777-5780.csv"> triennial-5777-5780.csv</a></li><li><a class="dropdown-item download" id="leyning-triennial-5780" href="triennial-5780-5783.csv" download="triennial-5780-5783.csv"> triennial-5780-5783.csv</a></li><li><a class="dropdown-item download" id="leyning-triennial-5783" href="triennial-5783-5786.csv" download="triennial-5783-5786.csv"> triennial-5783-5786.csv</a></li><li><a class="dropdown-item download" id="leyning-triennial-5786" href="triennial-5786-5789.csv" download="triennial-5786-5789.csv"> triennial-5786-5789.csv</a></li><li><a class="dropdown-item download" id="leyning-triennial-5789" href="triennial-5789-5792.csv" download="triennial-5789-5792.csv"> triennial-5789-5792.csv</a></li></ul>
</div>

<div class="btn-group mr-1">
 <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  Full Kriyah (Israel) <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
<li><a class="dropdown-item" href="https://drive.google.com/folderview?id=0B3OlPVknpjg7aUxXSXZiY3FTNDA">Google Drive spreadsheets</a><li class="dropdown-divider"></li><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5779" href="fullkriyah-il-5779.csv" download="fullkriyah-il-5779.csv">fullkriyah-il-5779.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5780" href="fullkriyah-il-5780.csv" download="fullkriyah-il-5780.csv">fullkriyah-il-5780.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5781" href="fullkriyah-il-5781.csv" download="fullkriyah-il-5781.csv">fullkriyah-il-5781.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5782" href="fullkriyah-il-5782.csv" download="fullkriyah-il-5782.csv">fullkriyah-il-5782.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5783" href="fullkriyah-il-5783.csv" download="fullkriyah-il-5783.csv">fullkriyah-il-5783.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5784" href="fullkriyah-il-5784.csv" download="fullkriyah-il-5784.csv">fullkriyah-il-5784.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5785" href="fullkriyah-il-5785.csv" download="fullkriyah-il-5785.csv">fullkriyah-il-5785.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5786" href="fullkriyah-il-5786.csv" download="fullkriyah-il-5786.csv">fullkriyah-il-5786.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5787" href="fullkriyah-il-5787.csv" download="fullkriyah-il-5787.csv">fullkriyah-il-5787.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5788" href="fullkriyah-il-5788.csv" download="fullkriyah-il-5788.csv">fullkriyah-il-5788.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5789" href="fullkriyah-il-5789.csv" download="fullkriyah-il-5789.csv">fullkriyah-il-5789.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5790" href="fullkriyah-il-5790.csv" download="fullkriyah-il-5790.csv">fullkriyah-il-5790.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5791" href="fullkriyah-il-5791.csv" download="fullkriyah-il-5791.csv">fullkriyah-il-5791.csv</a><li><a class="dropdown-item download" id="leyning-fullkriyah-il-5792" href="fullkriyah-il-5792.csv" download="fullkriyah-il-5792.csv">fullkriyah-il-5792.csv</a></ul>
</div>

</div><!-- .btn-toolbar -->
<p> </p>
<p>Example content:</p>
<table class="table table-striped table-condensed">
<tbody>
<tr><th>Date</th><th>Parashah</th><th>Aliyah</th><th>Reading</th><th>Verses</th></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>1</td><td>Genesis 1:1 &#8211; 2:3</td><td>34</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>2</td><td>Genesis 2:4 &#8211; 2:19</td><td>16</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>3</td><td>Genesis 2:20 &#8211; 3:21</td><td>27</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>4</td><td>Genesis 3:22 &#8211; 4:18</td><td>21</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>5</td><td>Genesis 4:19 &#8211; 4:22</td><td>4</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>6</td><td>Genesis 4:23 &#8211; 5:24</td><td>28</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>7</td><td>Genesis 5:25 &#8211; 6:8</td><td>16</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>maf</td><td>Genesis 6:5 &#8211; 6:8</td><td>4</td></tr>
<tr><td>25-Oct-2003</td><td>Bereshit</td><td>Haftara</td><td>Isaiah 42:5 &#8211; 43:11</td><td></td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>1</td><td>Genesis 6:9 &#8211; 6:22</td><td>14</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>2</td><td>Genesis 7:1 &#8211; 7:16</td><td>16</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>3</td><td>Genesis 7:17 &#8211; 8:14</td><td>22</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>4</td><td>Genesis 8:15 &#8211; 9:7</td><td>15</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>5</td><td>Genesis 9:8 &#8211; 9:17</td><td>10</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>6</td><td>Genesis 9:18 &#8211; 10:32</td><td>44</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>7</td><td>Genesis 11:1 &#8211; 11:32</td><td>32</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>maf</td><td>Genesis 11:29 &#8211; 11:32</td><td>4</td></tr>
<tr><td>1-Nov-2003</td><td>Noach</td><td>Haftara</td><td>Isaiah 54:1 &#8211; 55:5</td><td></td></tr>
</tbody>
</table>

</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<% include partials/footer.ejs %>
