<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<title><%= title %></title>
<style nonce="<%=nonce%>">
ul.hebcal-results{list-style-type:none}
</style>
</head>
<body>
<%- await include('shabbat-js.ejs') -%>
</body></html>
